<%= render "shared/footer-orders-bids-index" %>
<div class="container footer-bottom">
  <br>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
       <h3 class= 'title-cards'><strong>Enchères en cours</strong></h3>
      <div class="materials horizontal">
        <% @my_bids_pending.each do |material| %>
          <div class="card-material-sales">
          <%= link_to material_path(material) do %>
            <%= render 'shared/card-material-orders-online', material: material %>
            <br>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h3 class= 'title-cards'><strong>Matériaux à récupérer</strong></h3>
      <div class="materials horizontal">
        <% @my_bids_pickup.each do |material| %>
        <div class="card-material-sales">
          <%= link_to material_path(material) do %>
            <%= render 'shared/card-material-orders-sold', material: material %>
            <br>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h3 class= 'title-cards'><strong>Historique des enchères gagnées</strong></h3>
      <div class="materials horizontal">
        <% @my_bids_winsale.each do |material| %>
        <div class="card-material-sales">
          <%= link_to material_path(material) do %>
            <%= render 'shared/card-material-orders-sold', material: material %>
            <br>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h3 class= 'title-cards'><strong>Historique des enchères perdues</strong></h3>
      <div class="materials horizontal">
        <% @my_bids_lostsale.each do |material| %>
          <div class="card-material-sales">
          <%= link_to material_path(material) do %>
            <%= render 'shared/card-material-orders-historical-lost', material: material %>
              <br>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



