<div class="card-material search">
    <%= image_tag("hammer.jpg") %>

  <div class="card-material-infos">
    <div>
      <h2><%=material.description%></h2>
      <p><%= material.category %></p>
      <p><%= material.site.address%></p>
      <h6 class="personalized-message"><i>X enchères en cours</i></h6>
    </div>
    <div class="card-prices">
      <h2 class="card-material-pricing card-material-bid-user"><%= material.minimum_price %> €</h2>
      <h2 class="card-material-pricing card-material-highest-bid"><%= material.highest_bid%>€</h2>
    </div>
      <p class="card-material-user"><%= material.deadline.strftime('%F')%></p>
  </div>
</div>



<div class="card-material search">
    <%= image_tag("hammer.jpg") %>
      <div class="card-material-infos">
        <p class="card-material-user"><%= material.deadline.strftime('%F')%></p>


        <div class="card-material-text">
          <div class="card-material-description"> <h2><%=material.description%></h2>
          </div>

          <div class="card-material-details">
            <div class ='card-material-left'>

              <p><%= material.category %></p>
              <p><%= material.site.address%></p>
            </div>
            <div class="card-material-right">
          <!--      <div class="card-prices">
                <p>Mon prix</p><h2 class="card-material-pricing card-material-highest-bid"> <%= material.highest_bid%>€</h2>
              </div> -->
              <div class="card-prices">
                <h2 class="card-material-pricing card-material-highest-bid"> <%= material.highest_bid%>€</h2>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
