<div class="card-material">
  <% if material.photo.attached? %>
    <%= cl_image_tag material.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <%= image_tag "hammer.jpg", height: 300, width: 400 %>
  <% end %>
      <div class="card-material-infos">
        <p class="card-material-user"><%= material.deadline.strftime('%d-%m-%Y') %></p>


        <div class="card-material-text">
          <div class="card-material-description"> <h2><%= material.description %></h2>
          </div>

          <div class="card-material-details">
            <div class ='card-material-left'>

              <p><%= material.category %></p>
              <p><%= material.site.address%></p>
            </div>
            <div class="card-material-right">
               <div class="card-prices">
                <p class="mr-2">Prix final</p><h2 class="card-material-pricing txt-red"><%= material.highest_bid%>€</h2>
              </div>

            </div>
          </div>
        </div>
    </div>
</div>
