<div class="card-material">
    <%= image_tag("hammer.jpg") %>
      <div class="card-material-infos">
        <p class="card-material-user"><%= material.deadline.strftime('%d - %m - %Y') %></p>


        <div class="card-material-text">
          <div class="card-material-description"> <h2><%= material.description %></h2>
          </div>

          <div class="card-material-details">
            <div class ='card-material-left'>

              <p><%= material.category %></p>
              <p><%= material.site.address%></p>
            </div>
            <div class="card-material-right">
              <div class="card-prices">
                <p class="mr-2">Prix départ</p><h2 class="card-material-pricing blue-text"> <%= material.minimum_price%>€</h2>
              </div>
              <div class="card-prices">

                <% if material.bids.any? %>
                  <p class="mr-2">Prix de vente</p>
                  <h2 class="card-material-pricing txt-red"><%= material.highest_bid %>€</h2>
                <% else %>
                  <h2 class="card-material-pricing">Non vendu</h2>
                 <% end %>
              </div>


            </div>
          </div>
        </div>
    </div>
</div>


