<div class="card-material">
    <%= image_tag("hammer.jpg") %>
      <div class="card-material-infos">
        <p class="card-material-user"><%= material.deadline.strftime('%F') %></p>


        <div class="card-material-text">
          <div class="card-material-description"> <h2><%= material.description %></h2>
          </div>

          <div class="card-material-details">
            <div class ='card-material-left'>

              <p><%= material.category %></p>
              <p><%= material.site.address%></p>
            </div>
            <div class="card-material-right">
               <div class="card-prices">
                <p>Prix final</p><h2 class="card-material-pricing card-material"><%= material.highest_bid%>€</h2>
              </div>

            </div>
          </div>
        </div>
    </div>
</div>
