<div class="card-material search">
    <%= image_tag("hammer.jpg") %>
      <div class="card-material-infos">
        <div>
          <h2><%=material.description%></h2>
          <p><%= material.category %></p>
          <p><%= material.site.address%></p>
          <h6 class="personalized-message"><i>X enchères en cours</i></h6>
        </div>
        <div class="card-prices">
          <h2 class="card-material-pricing card-material-highest-bid"><%= material.highest_bid%>€</h2>
        </div>
          <p class="card-material-user"><%= material.deadline.strftime('%F')%></p>
    </div>
</div>
<!--   </div> -->





<!-- <h2 class="card-material-pricing card-material-highest-bid"><%= material.highest_bid%>€</h2> -->



<!-- <div class="container">
<div class="card-material">
  <%= image_tag("hammer.jpg") %>
  <div class="card-material-infos">
    <div>
      <h2><%=material.description%></h2>
      <p><%= material.category %></p>
      <p><%= material.site.address%></p>
      <h6 class="personalized-message"><i>X enchères en cours</i></h6>
    </div>
    <div class="card-prices">
      <h2 class="card-material-pricing card-material-bid-user">hh €</h2>
      <h2 class="card-material-pricing card-material-highest-bid"><%= material.highest_bid%>€</h2>
    </div>
      <p class="card-material-user"> J-5 </p>
  </div>
</div>
</div>
 -->
