<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= 'nav-transparent' if params[:action] == 'home' %>">
  <div class="d-flex flex-grow-1 shadow-for-button">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <div class="flexbox-nav">
      <a class="navbar-brand" href="#">
        <% if params[:action] != 'home' %>
          <%= link_to root_path do %>
            <span id="toto"><%= show_svg('helmet.svg') %></span>
          <% end %>
        <span id="branding-nav">BRIIIK</span>
      </a>
      <% end %>
    </div>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="text-right collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
          <% if current_user.nil? %>
            <li class="nav-item active">
              <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item ">
              <%= link_to "S'enregister", new_user_registration_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
