<%= render "shared/footer-orders-index" %>

<div class="container">
  <div class="search_materials">
    <div class="search_bar">
      <br>
      <%= form_tag materials_path, method: :get do %>
        <%#= collection_select :material, :category, Material::CATEGORIES, :material%>
        <%= select_tag "category", options_for_select(Material::CATEGORIES, params[:category]), include_blank: "Choisir une catégorie",
        class: "form-control has-search"%>
        <br>
        <%= select_tag "address", options_from_collection_for_select(Site.all, "address", "address", params[:address]),
        include_blank: "Choisir une adresse de chantier", class: "form-control has-search"%>
        <br>
        <%= text_field_tag :description,
        params[:description], class: "form-control has-search", placeholder: "Vous recherchez? Ex: cloison, moquette,...", style:"font-style:italic"%>
      </div>
        <br>
        <div class="box-button">
          <%= submit_tag "Recherche", class: "btn main-button" %>
          <br>
        </div>
         <p> <strong><%=  @total_result %> résultat(s)</strong></p>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 d-flex align-items-center">
      <div class="materials">
        <% @materials.each do |material| %>
          <% if material.status == 'En ligne' && material.deadline >= Time.now%>
            <%= link_to material_path(material) do %>
              <%= render 'shared/card-material-search', material: material, deadline: @deadline %>
              <br>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<%= render "shared/footer-home-buy" %>
</div>



