<h1>Materials#index</h1>
<p>Find me in app/views/materials/index.html.erb</p>


<!-- [...] -->
<div class="container">

    <div class="search_bar">
      <%= form_tag materials_path, method: :get do %>

      <%#= collection_select :material, :category, Material::CATEGORIES, :material%>
      <%= select_tag "category", options_for_select(Material::CATEGORIES, params[:category]), include_blank: "Choisir une catégorie" %>

       <%= select_tag "address", options_from_collection_for_select(Site.all, "address", "address", params[:address]), include_blank: "Choisir une adresse de chantier" %>

      <%= text_field_tag :description,
      params[:description],
      class: "form-control has-search",
      placeholder: "Produit recherché. Ex: barrettes, cuivre, cloisons,..."%>


      <br>
     <%= submit_tag "Search", class: "btn btn-primary" %>

    <% end %>
    </div>

  </div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="materials">
        <% @materials.each do |material| %>
        <div class="card-material">
          <h4><%= material.description %></h4>
          <p><%= material.category %></p>
          <p><%= material.minimum_price %></p>
          <p><%= material.deadline %></p>
          <p><%= material.site.address%></p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


  bid.price highest si présent sinon material.price_minimum

