  <%= render "shared/footer-sales-new" %>

<div class="container">
        <%= simple_form_for(@material) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="container">
            <div class="form-inputs">
               <%= f.input :category,:label => "Catégorie", collection: Material::CATEGORIES %>
              <%= f.input :description %>
              <%= f.input :detailed_description, :label => "Description détaillée", placeholder: "Dimension... Poids... Quantité..." %>
              <%= f.input :site_id, :label => "Adresse du chantier", collection: @sites, label_method: :address %>
              <%= f.input :minimum_price, :label => "Prix minimum" %>

                <div class="form-date">
                  <%= f.input :deadline, as: :string, required: false, :label => "Date de fin des enchères", input_html: {class: "datepicker"}, format: "mm/dd/yyyy" %>
                </div>

              <%= f.input :photo, as: :file %>
            </div>
          </div>
          <div class="form-actions">
            <div class="box-button">
              <%= f.submit "Publier", class: "btn main-button-publish" %>
            </div>
          </div>
          <br>
        <% end %>
</div>


