<div class="container">
  <div class="row justify-content">
    <div class="col-sm-6 mt-3 p-3">
      <h3>Je vends un matériel</h3>
        <%= simple_form_for(@material) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="container">
            <div class="form-inputs">
               <%= f.input :category,:label => "Catégorie", collection: Material::CATEGORIES %>
              <%= f.input :description %>
              <%= f.input :detailed_description, :label => "Description détaillée", placeholder: "Dimension? Poids? Quantité?" %>
              <%= f.input :site_id, :label => "Adresse du chantier", collection: @sites, label_method: :address %>
              <%= f.input :minimum_price, :label => "Prix minimum" %>
                <div class="form-date">
                  <%= f.input :deadline, :label => "Date de fin des enchères" %>
                </div>

              <%= f.input :photo, as: :file, class: "btn btn-flat" %>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit "Ajouter un matériel", class: "btn main-button" %>
          </div>
        <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer-sales" %>
