
<h1><strong>Mes Ventes</strong></h1>

<h3><strong>Annonces en ligne</strong></h3>
<% @my_posts.each do |material| %>
  <p>Categorie: <%= material.category %></p>
  <p>Jusqu'au: <%= material.deadline %></p>
  <p><strong>Dernière offre: €<%= material.bids.last %></strong></p>
<% end %>
<hr>
<h3><strong>Annonces à récupérer</strong></h3>
<% @my_posts_pickup.each do |material| %>
  <p>Categorie: <%= material.category %></p>
  <p>Jusqu'au: <%= material.deadline %></p>
  <p><strong>Dernière offre: €<%= material.bids.last %></strong></p>
<% end %>
<hr>
<h3><strong>Ventes passées</strong></h3>
<% @my_posts_done.each do |material| %>
  <p>Categorie: <%= material.category %></p>
  <p>Jusqu'au: <%= material.deadline %></p>
  <p><strong>Dernière offre: €<%= material.bids.last %></strong></p>
<% end %>
