<div class="container">
  <% if @material.user == current_user %>
    <%= render "shared/footer-sales" %>
    <% else %>
    <%= render "shared/footer-orders" %>
    <% end %>

  <br>
  <div class="row justify-content-center">
    <% if @material.photo.attached? %>
      <%= cl_image_tag @material.photo.key, height: 270, width: 345, crop: :fill %>
    <% else %>
      <%= image_tag "hammer.jpg", height: 270, width: 345 %>
    <% end %>
  </div>
  <br>
  <div class="row justify-content-center card-information show-box">
    <ul>
      <li> <strong>Catégorie :</strong>  <%= @material.category %></li>
      <li> <strong>Description :</strong> <%= @material.description %></li>
      <li> <strong>Prix initial :</strong> <%= @material.minimum_price %> €</li>
      <li> <strong>Dernière enchère :</strong>
         <% if @material.bids.any? %>
        <%= @material.highest_bid%>€
        <% else %>
        <span>Pas d'enchère</span>
        <% end %>
      </li>

      <li> <strong>Description détaillée :</strong> <%= @material.detailed_description %></li>
      <li> <strong>Date de fin d'enchère :</strong> <%= @material.deadline.strftime('%A %d %B %Y') %></li>
    </ul>
  </div>

  <div class="my_bid_box">
  <% if Time.now < @material.deadline || @material.user == current_user  || @material.status == "Cloturé" || @material.status == "Non vendu"  %>
    <% else %>

      <p>Votre enchère: <%= humanized_money_with_symbol(@material.highest_bid) %></p>
    <%= form_tag orders_path do %>
    <%= hidden_field_tag 'material_id', @material.id %>
    <%= submit_tag 'Payer', class: 'main-button-payer' %>
      <% end %>
  <% end %>
  </div>

<br>
  <% if (Time.now > @material.deadline || @material.user == current_user) || @material.status == "Cloturé" || @material.status == "Non vendu" %>
  <% else %>
  <%= simple_form_for([@material, @bid]) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :price, :label => "Enchérir !"%>
    </div>

    <div class="form-actions">
      <div class="box-button">
        <%= f.submit "Valider votre enchère", class: 'btn main-button' %>
      </div>
    </div>
  <% end %>
  <% end %>

  <% if @material.user == current_user %>
    <%= render "shared/footer-home-sale" %>
    <% else %>
    <%= render "shared/footer-home-buy" %>
  <% end %>


</div>
