<div class="container">
  <% if @material.user == current_user %>
    <%= render "shared/footer-sales" %>
    <% else %>
    <%= render "shared/footer-orders" %>
    <% end %>
  
  <br>
  <div class="row justify-content-center">
    <% if @material.photo.attached? %>
      <%= cl_image_tag @material.photo.key, height: 270, width: 345, crop: :fill %>
    <% else %>
      <%= image_tag "hammer.jpg", height: 270, width: 345 %>
    <% end %>
  </div>
  <br>
  <div class="row justify-content-center card-information">
    <p><strong>Informations pratiques :</strong></p>
    <ul>
      <li> <strong>Catégorie :</strong>  <%= @material.category %></li>
      <li> <strong>Description :</strong> <%= @material.description %></li>
      <li> <strong>Prix initial :</strong> <%= @material.minimum_price %> €</li>
      <li> <strong>Enchère en cours :</strong> <%= @material.highest_bid %> €</li>
      <li> <strong>Description détaillée :</strong> <%= @material.detailed_description %></li>
      <li> <strong>Temps restant :</strong> <%= @material.remaining_time %></li>
      <li> <strong>Statut :</strong> <%= @material.status %></li>
    </ul>
  </div>

<br>
<br>
<br>
  <% if @material.user == current_user %>
  <% else %>
  <%= simple_form_for([@material, @bid]) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :price %>
    </div>

    <div class="form-actions">
      <%= f.submit "Valider une enchère", class: 'btn main-button' %>
    </div>
  <% end %>
    <%= render "shared/footer-orders" %>
  <% end %>
</div>
