<div class="container footer-bottom-site-records">
  <% if @material.user == current_user %>
    <%= render "shared/footer-sales" %>
    <% else %>
    <%= render "shared/footer-orders" %>
  <% end %>

  <br>
  <div class="row justify-content-center">
    <% if @material.photo.attached? %>
      <%= cl_image_tag @material.photo.key, height: 270, width: 345, crop: :fill %>
    <% else %>
      <%= image_tag "hammer.jpg", height: 270, width: 345 %>
    <% end %>
  </div>
  <br>
  <div class="row justify-content-center text-center">
    <ul>

      <h5><li> <strong><%= @material.description %></strong> </li></h5>
      <li> </strong> <%= @material.detailed_description %></li>
      <br>

      <li>
         <% if @material.bids.any? %>
         <strong>Prix actuel :</strong>
        <span class="show-price-orange"><%= @material.highest_bid%> €</span>
        <% else %>
        <span>Pas d'enchère</span>
        <% end %>
      </li>
       <li> <strong>Prix avant enchère :</strong> <span class="show-price-blue"><%= @material.minimum_price %>€</span></li>
      <li> <strong>Fin d'enchère :</strong> <%= @material.deadline.strftime('%d-%m-%Y') %></li>
      <li> <strong>Contact vendeur : </strong> <%= @material.user.phone_number %></li>
    </ul>
  </div>

  <div class="my_bid_box ">
  <% if Time.now < @material.deadline || @material.user == current_user  || @material.status == "Cloturé" || @material.status == "Non vendu"  %>
    <% else %>

      <span>Votre enchère: <%= humanized_money_with_symbol(@material.highest_bid) %></span>
    <%= form_tag orders_path do %>
    <%= hidden_field_tag 'material_id', @material.id %>
    <%= submit_tag 'Payer', class: 'main-button-payer' %>
      <% end %>
  <% end %>
  </div>


  <% if (Time.now > @material.deadline || @material.user == current_user) || @material.status == "Cloturé" || @material.status == "Non vendu" %>
  <% else %>
  <%= simple_form_for([@material, @bid]) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :price, :label => "Enchérir !"%>
    </div>

    <div class="form-actions">
      <div class="box-button">
        <%= f.submit "Valider votre enchère", class: 'btn main-button' %>
      </div>
    </div>
  <% end %>
  <% end %>

</div>
  <% if @material.user == current_user %>

<!--   <%= link_to 'Consulter mes annonces', sales_path, class: 'light-blue-text link-no-deco'%> -->
  <br>

    <%= render "shared/footer-home-sale" %>
    <% else %>
 <!--    <%= link_to 'Consulter mes enchères', bids_path, class: 'light-blue-text link-no-deco'%> -->
    <br>
    <%= render "shared/footer-home-buy" %>
  <% end %>
