<%= simple_form_for(@site) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="container">
    <div class="form-inputs">
      <%= f.input :company %>
      <%= f.input :address %>
    </div>
  </div>
  <div class="form-actions button-color">
    <%= f.submit "Mettre à jour le chantier" %>
  </div>
<% end %>
