<div class="container">
  <div class="row justify-content">
    <div class="col-sm-6 mt-3 p-3">
      <h4>Vous êtes chef de chantier ?</h4>
      <br>
      <%= link_to 'Créer un chantier', new_site_path, class: "main-button-chantier" %>
      <br>
      <br>
      <h5> <strong>
      Mes chantiers : </strong> </h5> ajouter des ouvriers
      (controller à modifier pour ne faire apparaitre que mes chantiers)
      <br>
      <!-- <h5> <% @sites.each do |site| %>
         <%= site.company %>
        <%= site.address %>
        <%= link_to 'Ajouter des compagnons au chantier', edit_site_path(site) %>
        <br>
        <% end %>
      </h5>
      <br> -->

      <% @sites.each do |site| %>
      • <%= site.company %> :
      <%= link_to site.address, edit_site_path(site) %>
      <br>
      <br>
      <% end %>
      <h5><strong> Mes ventes par chantier (à créer) </strong></h5>
    </div>
  </div>
</div>
<%= render "shared/footer-sales" %>


