<%= render "shared/footer-sales-sites" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 mt-3 p-3">
      <div class="end_chef">

        <div class="image_cdc d-flex justify-content-center">
          <%= image_tag("cdchantier.svg") %>
        </div>
        <br>
        <h5 class="d-flex justify-content-center"><strong>Vous êtes chef de chantier ? </strong></h5>
        <br>
        <div class="site_creation d-flex">
          <h6><strong>Créer un chantier </strong></h6> &nbsp &nbsp<%= link_to ("  <i class='far fa-plus-square'></i>").html_safe, new_site_path %>
        </div>
        <br>

        <h6><strong>Modifier / Ajouter des compagnons </strong></h6>
        <ul class='cancel_padding'>
          <% @site_users.each do |site_user| %>
            <li class="taille13"> <%= link_to "#{Site.find(site_user.site_id).company} : #{Site.find(site_user.site_id).address}",
            edit_site_path(Site.find(site_user.site_id)), class: 'light-blue-text link-no-deco'%> </li>
            <% end %>
        </ul>
      </div>


      <br>

    <div class="end_chef">
      <h6><strong> Ventes par chantier </strong></h6>
      <ul class='cancel_padding'>
        <% @site_users.each do |site_user| %>
          <li class="taille13"> <%= link_to "#{Site.find(site_user.site_id).company} :
          #{Site.find(site_user.site_id).address}", records_path(Site.find(site_user.site_id)), class: 'light-blue-text link-no-deco'%> </li>
        <% end %>
      </ul>

    </div>
  </div>
  </div>

</div>

<%= render "shared/footer-home-sale" %>


