<h5> <% @sites.each do |site| %>
  <%= site.company %>
  <%= site.address %>
  <%= link_to 'Ajouter des compagnons au chantier', edit_site_path(site) %>
  <br>
  <% end %>
</h5>

<br>
<%= link_to 'New Site', new_site_path %>
<br>
<%= render "shared/footer-sales" %>

