
<h3>Vous êtes chef de chantier?</h3>

<h4> <%= link_to 'Créer un chantier', new_site_path %> </h4>
<br>

<h4> Mes chantiers : ajouter des ouvriers </h4>
<h5>(controller à modifier pour ne faire apparaitre que mes chantiers) </h5>
<br>
<!-- <h5> <% @sites.each do |site| %>
   <%= site.company %>
  <%= site.address %>
  <%= link_to 'Ajouter des compagnons au chantier', edit_site_path(site) %>
  <br>
  <% end %>
</h5>
<br> -->


<h5> <% @sites.each do |site| %>
  <%= site.company %>
  <%= link_to site.address, edit_site_path(site) %>
  <br>
  <% end %>
</h5>


<h4> Mes ventes par chantier (à créer) </h4>

<%= render "shared/footer-sales" %>


