<div class="container">
  <div class="row justify-content">
    <div class="col-sm-6 mt-3 p-3">
      <p class="site-address"><strong><%= @site.company %></strong></p>
      <p class="site-address"><strong> <%= @site.address %> </strong></p>
      <br>
      <br>
      <table class="mr-3 ml-3">
          <thead>
              <tr>
                  <th>Description</th>
                  <th>Date de vente</th>
                  <th>Prix</th>
              </tr>
          </thead>
          <tbody>
            <% @my_posts_pickup.each do |my_post_pickup| %>
              <tr>
                  <td><%= my_post_pickup.description %></td>
                  <td><%= my_post_pickup.deadline.strftime('%d-%m-%Y') %></td>
                  <td><%= my_post_pickup.highest_bid %> €</td>
              </tr>
            <% end  %>
          </tbody>
      </table>


<br>
      <p class="table-sum row mr-3 ml-3">
        <span class="column left" >Somme totale : </span>
        <span class="column"> <%= @sum%> € </span>
      </p>



      <%= link_to "Retour vers mes chantiers", sites_path, class: "button-back" %>

    </div>
  </div>
    <%= render "shared/footer-home-sale" %>
</div>

