<%= render "shared/footer-sales" %>

<div class="container">
  <br>
  <div class="site-title middle"><h6><b> <%= @site.company %></b></h6></div>
   <div class="site-title middle"><h6><b><%= @site.address%></b></h6></div>
  <br>
  <h5 class="title-cards"><b>Membres du chantier </b></h5>
  <% @site_users.each do |user| %>
   <%= user.email %>
   <br>
  <% end %>

  <hr>

  <% if policy(@site).create? %>
    <%= simple_form_for([@site, @site_user]) do |f| %>
      <%= f.input :user_id, collection: @users, label:'Ajouter des compagnons', class: 'title-cards'%>
      <div class="middle">
      <%= f.submit 'Ajouter', class: 'main-button' %>
      </div>
    <% end %>
  <% end %>

  <br>
<!--   <%= link_to 'Edit', edit_site_path(@site) %> -->
  <%= link_to 'Retourner sur mes chantiers', sites_path, class: 'button-back'%>
  <br>
</div>

<%= render "shared/footer-home-sale" %>


